<!-- footer.html -->
<footer class="bg-gray-100 py-8 mt-16">
  <div class="max-w-6xl mx-auto px-4 text-center">
    <p class="mb-4">
      AZ-204 certified and specialized in serverless architecture and enterprise
      integration.
    </p>
    <div class="space-x-1">
      <a
        id="email-link"
        href="#"
        class="text-blue-600 hover:text-blue-800 transition duration-200"
        >Send me an email</a
      >
      <span>•</span>
      <a
        href="https://www.linkedin.com/in/penningtonnathan/"
        class="text-blue-600 hover:text-blue-800 transition duration-200"
        >LinkedIn</a
      >
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const link = document.getElementById("email-link");

    const user = "ncpenn";
    const domain = "gmail";
    const tld = "com";

    link.addEventListener("click", function (e) {
      e.preventDefault();
      window.location.href = "mailto:" + user + "@" + domain + "." + tld;
    });
  });
</script>
